@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
}

.btn {
	background-color: #333;
	border-color: #333;
	color: white;
	padding: 1rem 1.5rem;
	font-size: 1.9rem;
	font-weight: 500;
}

.btn:hover {
	background-color: white;
	border-color: white;
	color: #333;
}

a:hover {
	color: #333;
}

a .card-header :hover,
.search a:hover {
	color: #d63031;
}

h3 {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 0;
}

.search {
	font-family: 'Roboto', sans-serif;
	position: fixed;
	left: 0;
	width: 160px;
}

table {
	font-size: inherit;
}

.container {
	max-width: 1600px;
}

/**********
/** HEADER 
/**********/

header,
footer {
	background-color: #c71616;
	color: white;
}

header nav img#logo {
	height: 70px;
	width: 90px;
	border-radius: 50%;
	margin: 5px 0;
}

header h1 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 50px;
}

/****
 MAIN 
 ****/

/* SEARCH BAR SLIDERS */
.ngx-slider .ngx-slider-pointer {
	background-color: transparent!important;
}

.ngx-slider .ngx-slider-bubble {
	color: inherit!important;
	bottom: 10px!important;
	font-size: 14px!important;
}

.ngx-slider-span.ngx-slider-bubble.ngx-slider-limit.ngx-slider-floor,
.ngx-slider-span.ngx-slider-bubble.ngx-slider-limit.ngx-slider-ceil {
	font-size: 11px!important;
}
/* END SEARCH BAR SLIDERS */

main {
	margin: 0 auto;
	position: relative;
}

main.container {
	height: 80%;
}

main.container-fluid {
	height: 85%;	
}

section.scroll {
	text-align: center;
	flex: none;
	height: 95%;
	overflow: auto;
	scroll-snap-align: none;
}

.scroll::-webkit-scrollbar {
    display: none;
}

/** Home Ads **/

.ad-card:hover {
	transform: translateY(-5px);
}

div.ad-cards img {
	width: 100%;
}

p.card-text {
	font-size: 14px;
}

.w-20 {
	width: 20%;
}

/** Pagination **/

button.page-link {
	font-size: 25px;
	text-align: center;
	background-color: #d63031;
}

.disabled button.page-link {
	background-color: #fff;
}

button.page-link:hover {
	color: #d63031!important;
	background-color: #333333;
}

/** login **/

.form-control {
	font-size: 16px!important;
}

/******
 FOOTER 
 ******/
 
 footer {
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 1500;
}

footer nav i {
	font-size: 30px;
}
