<form class="register-form my-3">
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa fa-envelope-o"></i>
			</span>
		</div>
		<input type="text" class="form-control" placeholder="Email">
	</div>

	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa fa-key"></i>
			</span>
		</div>
		<input type="text" class="form-control" placeholder="Mot de passe">
	</div>
	<button class="btn btn-danger btn-block btn-round">Connexion</button>
</form>
<div class="forgot">
	<a routerLink="/signup" class="btn-link">Pas encore inscrit ?</a>
</div>