<div 
	*ngIf="errorMsg"
	class="alert alert-danger">
		{{ errorMsg }}
</div>

<form class="register-form my-3" 
		[formGroup]="loginForm"
		(ngSubmit)="onSubmitSignIn()">
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa fa-envelope-o"></i>
			</span>
		</div>
		<input 
			type="text" 
			class="form-control"
			formControlName="username" 
			placeholder="Nom d'utilisateur"
			autofocus>
	</div>

	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<i class="fa fa-key"></i>
			</span>
		</div>
		<input 
			type="password" 
			class="form-control" 
			formControlName="password"
			placeholder="Mot de passe">
	</div>
	<button class="btn btn-danger btn-block btn-round" [disabled]="loginForm.invalid">Connexion</button>
</form>
<div class="forgot">
	<a routerLink="/signup" class="btn-link">Pas encore inscrit ?</a>
</div>