<header>
	<div class="container-fluid">
		<nav class="align-items-center d-flex row">
			<div class="col-1 m-0 text-center">
				<a routerLink="/">
					<img id="logo" src="assets/pictures/logo.jpg" alt="Logo">
				</a>
			</div>
			<div class="col-2"></div>
			<div class="col-7 m-0 p-0 row justify-content-center">
				<h1>Centre Auto ccas</h1>
			</div>
			<div class="col-1 d-flex justify-content-end m-0 p-0">
				<a *ngIf="!isAuth" class="btn btn-dark" routerLink="signin">Espace Pro</a>
				<a 
					*ngIf="isAuth" 
					class="btn btn-dark"
					(click)="onClickLogout()">
						Déconnexion
				</a>
			</div>
		</nav>
	</div>
</header>
<!-- <div class="container gray highlightTextIn">
	<a alt="HOME">HOME</a>
	<a alt="ARTICLES">ARTICLES</a>
	<a alt="PORTFOLIO">PORTFOLIO</a>
	<a alt="ABOUT">ABOUT</a>
	<a alt="CONTACT">CONTACT</a>
</div> -->