.btn {
	border: solid #333;
}

.btn:hover {
	border: solid #c71616;
	color: #c71616;
}

.btn.gray:hover {
	background-color: #E5E5E5!important;
}

div.col-4 {
	margin-top: 2rem;
}

p {
	margin: 0;
}

input {
	height: 20px;
}

section.container-fluid {
	background-color: #E5E5E5;
}